/* Estilos generales */
body {
  background-image: url(../img/fondo\(3\).jpeg);
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Contenedor del formulario y de la confirmación */
  .reset-container, .confirmation-container {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Título */
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Párrafo de instrucciones */
  p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  /* Etiquetas y campos del formulario */
  label {
    display: block;
    font-size: 14px;
    color: #333;
    text-align: left;
    margin-bottom: 5px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  /* Botón de envío */
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Mensaje de confirmación */
  .confirmation-container p {
    color: #4CAF50;
    font-size: 16px;
    margin-top: 10px;
  }
  